<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        Filtered by:
      </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Filtered by:{{listFilter}}</h3>
      </div>
    </div>
    <div *ngIf="users && users.length">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>first name</th>
            <th>second name</th>
            <th>deleted</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{user.id}}</td>
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.isDeleted}}</td>
            <td> <button>delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
