<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="page-body">
    <div class="row">
<ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="">Main</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/users">Users</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/groups">Groups</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/products">Products</a>
    </li>
</ul>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <h1 class="text-centered">Setup user permission</h1>
      <div class="text-centered">Developed by: </div>
      <h3 class="text-centered">Alex</h3>
    </div>
  </div>
</div>
